.menu-configuration-widget .menu-blocks-container {
  padding: 2em;
}

.menu-configuration-widget
  .menu-blocks-container
  .block
  .toolbar-inner
  .ui.input
  input {
  height: unset;
}

#menu-configuration {
  margin: 1em 0;
}

.menu-configuration-widget .ui.header.dropdownmenu-items-header {
  font-size: 1.2rem;
  opacity: 0.8;
}

.menu-configuration-widget .ui.menu.menu-path-menu .item button.mini {
  font-size: 0.78571429rem;
}

.menu-configuration-widget .ui.menu.menu-items-menu h2 {
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 1em;
}

.menu-configuration-widget .ui.menu.menu-items-menu .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-configuration-widget .ui.menu.menu-items-menu .item span {
  display: inline-block;
  min-width: 3rem;
  padding-right: 0.5em;
}
